.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.nav-link a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.nav-link a:hover{
    color: orange;
}
.user-info{
    margin: 0 20px;
    color: white;
}
.btn-logout{
    background-color: rgba(252, 173, 55, 0.7);
}
.btn-logout:hover{
    background-color: rgba(255, 153, 0, 1);
}